language: rust
rust:
  - stable

script:
  - cargo test

after_success:
  - cargo install cargo-bump
  - export VERSION_BUMP=`cargo bump`
  - export COMMIT_MSG="[$TRAVIS_BRANCH-$TRAVIS_BUILD_NUMBER] $VERSION_BUMP"
  - git add Cargo.toml
  - git commit -m "$COMMIT_MSG"
  - git config --global user.email "builds@travis-ci.com"
  - git config --global user.name "Travis CI"
  - git push -q

notifications:
  email:
    on_success: never
    on_failure: always